//Primary Colors

$white: #FFFFFF;
$coolGray: #6d6e70;
$crossRed: #ed1d2e;
$black: #000000;

//Neutral Colors

$lightGray: #d7d7d8;
$medGray: #9f9fa3;

//Secondary Colors

$khaki: #e2d7ac;
$sand: #b4a996;
$gold: #ecb731;
$safetyGreen: #8ec06c;
$forestGreen: #537b35;
$lightBlue: #c4dff6;
$skyBlue: #56a0d3;
$classicBlue: #0091CD;
$midnightBlue: #004b79;
$deepRed: #7f1b1b;

//Website background colors
$lightGray: #cccccc;
$navGray: #e8e8e8;
$bottomNavGray: #d3d3d3;

