//List reset
@use "colors" as c;
@use "font" as f;

@mixin listReset {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin navbar {
    ul{
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
}

@mixin buttonStyle {
        color: c.$white;
        font-size: f.$regFont;
        border: none;
        font-weight: bold;
        padding: 0.5%;
        background-color: c.$crossRed;
        border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}