//Jeg kan ikke finde et sted at importe Akzidenz eller arial fra..
//Så jeg bruger bare native Arial.

$smallFont: 0.7vw;
$regFont: 1vw;
$bigFont: 1.5vw;
$biggerFont: 2vw;
$biggestFont: 3vw;

@mixin whiteFont {
    
}


